.container {
    background-color: #ccc;
    height:200px;
    display: flex;
    flex-direction: row; 
    /* Pode receber os valores de: column | row-reverse | column-reverse */

    flex-wrap: wrap;
    /* Pode receber os valores de: wrap | wrap-reverse e está ligado ao height e width da div filha */

    /* flex-flow: row wrap-reverse;  Propriedade que substitui o uso de flex-direction e flex-wrap */
    
    justify-content: flex-start; /* Propriedade para alinhamento horizontal, recebe os valores de: 
    flex-start, flex-end, center, space-between e o space-around */

    align-items: baseline;
    /* Alinhamento vertical, recebe os valores de: stretch, flex-start, flex-end, center, baseline*/

    align-content: stretch;
    /* Alinhamento vertical mesmo com quebra de linha, recebe os valores de: stretch,
    flex-start, flex-end, center, baseline*/
}


.item {
    background-color:#333;
    color: #fff;
    padding: 20px;
    margin: 5px;
    height:30px;

    flex-grow:1;
    /*Substitui o uso de width de forma eficiente*/

    flex-shrink: 1; /* Propriedade para encolhimento*/

    flex-basis: 30px; /* Propriedade que define tamanho minimo do objeto */

    flex: 1 1 20px; /*Define na ordem os valores de grow, shrink e basis, o que substitui
    o uso das três propiedades acima.*/
}


.article-01 { flex-grow: 3; }
.article-02 { order:1; }
.article-03 { order:2; }
.article-04 { order:4; }